body {
  background-color: $brand-primary;
  min-height: 200vh;

  &.cream {
    background-color: $brand-secondary;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 42px;
}

#shopify-section-custom-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: auto !important;
}
.swiper-content {
  height: 100% !important
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}


@media (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
