//Fonts
$font-gt-super-display-light: "GT Super Display light", sans-serif;
$font-gt-super-display-medium: "GT Super Display medium", sans-serif;
$font-gt-super-display-light-italic: "GT Super Display light italic", sans-serif;
$font-gt-super-display-medium-italic: "GT Super Display medium italic", sans-serif;

$font-gt-super-text-italic: "GT Super Text Book italic", sans-serif;
$font-gt-super-text-book: "GT Super Text Book", sans-serif;

$font-platform: "Platform", sans-serif;


//Colors
$color-black: #000000;
$color-white: #ffffff;

$brand-primary: #85ABBD;
$brand-secondary: #F4EDE5;
